form {text-align: center }
body{ 
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

p{ 
  font-size: 22px; 
  text-align: center;
  
  padding: 20px;
  
}



.cadre {
    border: 2px solid skyblue; /* Couleur de la bordure du cadre */
    padding: auto; /* Espace intérieur du cadre */
    border-radius: auto; /* Coins arrondis du cadre */
    width: 60%; /* Largeur du cadre */
    margin: 20px auto; /* Centre le cadre sur la page */
    color: black; /* Couleur du texte */
    background-color: #2c94dd;
}


h1{
    text-align: center;
    color: #2c94dd;
}