.title {
   background-image: url("../img/8564399080_0f5c8c9bdc_b-1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 10%;
   width: 100%;
   height: 50vh;
}

.title h1 {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.image-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
}

.image-container :hover {
    transform: scale(1.2);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-container :hover img {
    transform: scale(1.2);
}

.container-text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.container-text {
    background-image: url('../img/sable.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; 
    color: black; 
    text-align: center; 
    padding: 20px; 
}

.container-text p {
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond du cadre */
    padding: 10px; /* Espacement intérieur du cadre */
    border: 1px solid black; /* Bordure autour du cadre */
  }

  