/* Nav */
.navigation {
  display: flex;
  align-items: center;
  background-color: lightblue;
}
.navigation> div a {
  color: black;
  margin: 15px;
  padding: 15px;
  font-size: 15px;
  text-decoration: none; 
}
  
  /* Fin Nav */


  /* Debut footer */
  /* Style the footer */
  footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
    /*#2c94dd*/
      background-color: lightblue;
      padding: 2px;
      text-align: center;
      color: black;
    }

  /* Fin Footer */