/* .images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: auto 5%;
} */
/* 
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
} */
.principal-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
}
.images-container img {
   width: 70%;
   margin-right: 10px;
   margin-top: 5%;

}
.container-text{
 width: 100%;
 margin