.title {
  display: flex;
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cadres {
  /* Styles existants pour les cadres */
  width: 300px;
  height: 200px;
  border: 5px solid lightblue;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.cadres img {
  /* Styles existants pour les images dans les cadres */
  width: 100%;
  height: auto;
  display: flex;
  object-fit: cover;
}

.cadres p {
  position: absolute;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.texte {
  right: -100%; /* Place le texte à droite du cadre */
  width: 100%; /* Ajuste la largeur */
  height: 100%; /* Ajuste la hauteur */
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s e