footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: auto 5%;
    
      background-color: #2c94dd;
      padding: 10px;
      text-align: center;
      color: white;
    }