form {text-align: center }

p{ 
  font-size: 22px; 
  text-align: center;
  
  padding: 20px;
  
}


.cadre {
    border: 2px solid #3498db; /* Couleur de la bordure du cadre */
    padding: auto; /* Espace intérieur du cadre */
    border-radius: auto; /* Coins arrondis du cadre */
    width: 60%; /* Largeur du cadre */
    margin: 20px auto; /* Centre le cadre sur la page */
    color: white; /* Couleur du texte */
    background-color: #2c94dd;
}


h1{
    text-align: center;
}